<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.UASS"
        tools:targetApi="31">
        <activity
            android:name=".SplashScreenActivity"
            android:exported="false" />
        <activity
            android:name=".ListNilaiActivity"
            android:exported="false" />
        <activity
            android:name=".ListMataKuliahActivity"
            android:exported="false" />
        <activity
            android:name=".ListDosenActivity"
            android:exported="false" />
        <activity
            android:name=".ListMahasiswaActivity"
            android:exported="false" />
        <activity
            android:name=".UpdateHapusNilaiActivity"
            android:exported="false" />
        <activity
            android:name=".UpdateHapusMataKuliahActivity"
            android:exported="false" />
        <activity
            android:name=".UpdateHapusDosenActivity"
            android:exported="false" />
        <activity
            android:name=".UpdateHapusMahasiswaActivity"
            android:exported="false" />
        <activity
            android:name=".TambahNilaiActivity"
            android:exported="false" />
        <activity
            android:name=".TambahMataKuliahActivity"
            android:exported="false" />
        <activity
            android:name=".TambahDosenActivity"
            android:exported="false" />
        <activity
            android:name=".TambahMahasiswaActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>